
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(/staticfiles/images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>about us</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--History Section-->
<section class="history-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>history of Prayas</h2>
            <div class="separator"></div>
            <div class="text">We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa</div>
        </div>

        <div class="row clearfix">
            <!--Video Column-->
            <div class="video-column col-md-6 col-sm-12 col-xs-12">
                <div class="video-box">
                    <figure class="image">
                        <img src="~/StaticFiles/images/resource/founder_img1.jpg" alt="" />
                    </figure>
                    @*<img src="~/StaticFiles/images/resource/founder_img1.jpg" alt="" />*@
                </div>
            </div>
            <!--Column Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="text-dark">You can create a world where no child goes to bed hungry. Make a change</div>
                    <div class="text">
                        <p>Prayas piblic weffare society helps us to achieve and to bring the parity in society
                        </p>
                        <p>
                            We constiuted this Ngo to provide basic education and food for the childrens, who lived in slums where
                            there is no education and welfare of them.
                        </p>
                    </div>
                    <div class="founder">
                        <div class="inner">
                            <div class="image">
                                <img src="~/StaticFiles/images/resource/founder.jpg" alt="" />
                            </div>
                            <h3>Ambika</h3>
                            <a href="#">Founder of Prayas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End History Section-->
<!--Counter Section-->
<section class="counter-section" style="background-image:url(/StaticFiles/images/background/1.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <h3>We are served since 35 years to helpless people with trust and we are happy</h3>
                    <a href="contact.html" class="theme-btn btn-style-one">Join wiht Us</a>
                </div>
            </div>
            <!--Counter Column-->
            <div class="counter-column col-md-7 col-sm-12 col-xs-12">

                <div class="fact-counter">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-hands-holding-heart"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="4000" data-stop="20">0</span>
                                </div>
                                <h4 class="counter-title">CHILDREN INVOLVED</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-hands"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="5000" data-stop="10">0</span>
                                </div>
                                <h4 class="counter-title">TOTAL VOLUNTEERS</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-business-3"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="4000" data-stop="20">0</span>
                                </div>
                                <h4 class="counter-title">TOTAL PROJECTS</h4>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Counter Section-->
<!--About Us-->
<section class="about-us-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>About Us</h2>
            <div class="separator"></div>
            <div class="text">We are always looking out and timely help disadvantaged</div>
        </div>
        <div class="row clearfix">

            <!--Image Column-->
            <div class="image-column col-md-4 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="~/StaticFiles/images/resource/about_2.png" alt="" />
                </div>
            </div>

            <!--Content Column-->
            <div class="content-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="row clearfix">
                        <!--Info Block-->
                        <div class="info-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon-box"><span class="icon flaticon-box"></span></div>
                                <h3><a href="#">Donation</a></h3>
                                <div class="text">
                                    To run/operate different types of education program/schools like formal, non-formal, pre-school for the
                                    education development of underprivileged-children of the community
                                </div>
                            </div>
                        </div>

                        <!--Info Block-->
                        <div class="info-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="icon-box"><span class="icon flaticon-hands"></span></div>
                                <h3><a href="#">VOLUNTEER</a></h3>
                                <div class="text">Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis vestibulum purus ac egestas...</div>
                            </div>
                        </div>

                        <!--Info Block-->
                        <div class="info-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon-box"><span class="icon flaticon-hands-holding-heart"></span></div>
                                <h3><a href="#">fundrise</a></h3>
                                <div class="text">Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis vestibulum purus ac egestas...</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End About Us-->
<!--Volunteers Section-->
<section class="volunteers-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>Our volunteers</h2>
            <div class="separator"></div>
            <div class="text">We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa</div>
        </div>
        <div class="row clearfix">

            <!--Volunteer Member-->
            <div class="volunteer-member style-two col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box img-circle"><img class="img-circle" src="~/StaticFiles/images/resource/pooja_volunteer.jpg" alt=""></figure>
                    <div class="info">
                        <h3><a href="#">Pooja Diwakar</a></h3>
                        <div class="designation">Volunteer</div>
                    </div>
                   
                </div>
            </div>

            <!--Volunteer Member-->
            <div class="volunteer-member style-two col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box img-circle"><img class="img-circle" src="~/StaticFiles/images/resource/volunteer-image-2.png" alt=""></figure>
                    <div class="info">
                        <h3><a href="#">Pooja Diwakar</a></h3>
                        <div class="designation">Volunteer</div>
                    </div>
                 
                </div>
            </div>

            <!--Volunteer Member-->
            <div class="volunteer-member style-two col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box img-circle"><img class="img-circle" src="~/StaticFiles/images/resource/featured-image-4.jpg" alt=""></figure>
                    <div class="info">
                        <h3><a href="#">gmae smith</a></h3>
                        <div class="designation">Volunteer</div>
                    </div>
                  
                </div>
            </div>

            <!--Volunteer Member-->
            <div class="volunteer-member style-two col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box img-circle"><img class="img-circle" src="~/StaticFiles/images/resource/volunteer-image-3.png" alt=""></figure>
                    <div class="info">
                        <h3><a href="#">seth rollins</a></h3>
                        <div class="designation">Volunteer</div>
                    </div>
                  
                </div>
            </div>

        </div>
    </div>
</section>
<!--Volunteers Section-->
<!--Subscribe Style One-->

<!--End Subscribe Style One-->