@model List<Ngo.Prayas.ViewModels.GalleryImageVM>

@{
    ViewBag.Title = "EventGalleries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Default Portfolio Item-->
            @foreach (var gallery in Model)
            {
                <div class="default-portfolio-item col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h4><a href="#">@gallery.Title</a></h4>
                                    <div class="text">@gallery.Description</div>
                                    <a href="images/gallery/1.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="flaticon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="event-single.html">Material Supply</a></h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="images/gallery/2.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="flaticon-plus-symbol"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="event-single.html">Material Supply</a></h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="images/gallery/3.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="flaticon-plus-symbol"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="event-single.html">Material Supply</a></h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="images/gallery/4.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="flaticon-plus-symbol"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="event-single.html">Material Supply</a></h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="images/gallery/5.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="flaticon-plus-symbol"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <!-- Styled Pagination -->
        <div class="styled-pagination">
            <ul class="clearfix">
                <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#" class="active">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>

    </div>
</section>
<!--End Gallery Section