@model Ngo.Prayas.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Index";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(StaticFiles/images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>events</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>events</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="event-classic">

                    <!--Event Style two-->
                    <div class="event-style-two">
                        <div class="inner">
                            <div class="image-box">
                                <div class="image">
                                    <img src="~/UploadedFiles/ + @Model.ImageUrl" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <!--Countdown Timer-->
                                                <div class="time-counter style-two"><div class="time-countdown clearfix" data-countdown="@Model.EventDate"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Lower Content-->
                            <div class="lower-content">
                                <div class="posted-date">12 <span>Jan</span></div>
                                <ul class="post-meta">
                                    <li><a href="event-single.html"><span class="icon fa fa-clock-o"></span> 9:30 AM - 11:00 Am</a></li>
                                    <li><a href="event-single.html"><span class="icon fa fa-map-marker"></span> Atlanda  park</a></li>
                                </ul>
                                <h3><a href="event-single.html">Transforming Lives</a></h3>
                                <div class="text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque sit voluptatem accusantium doloremque sit voluptatem accusantium ..</div>
                            </div>
                        </div>
                    </div>

                    <!--Event Style two-->
                    <div class="event-style-two">
                        <div class="inner">
                            <div class="image-box">
                                <div class="image">
                                    <img src="~/StaticFiles/images/resource/event-3.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <!--Countdown Timer-->
                                                <div class="time-counter style-two"><div class="time-countdown clearfix" data-countdown="2017/7/12"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Lower Content-->
                            <div class="lower-content">
                                <div class="posted-date">25 <span>Jan</span></div>
                                <ul class="post-meta">
                                    <li><a href="event-single.html"><span class="icon fa fa-clock-o"></span> 8:30 AM - 11:00 Am</a></li>
                                    <li><a href="event-single.html"><span class="icon fa fa-map-marker"></span> Victoria st</a></li>
                                </ul>
                                <h3><a href="event-single.html">give a handup</a></h3>
                                <div class="text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque sit voluptatem accusantium doloremque sit voluptatem accusantium ..</div>
                            </div>
                        </div>
                    </div>

                    <!--Event Style two-->
                    <div class="event-style-two">
                        <div class="inner">
                            <div class="image-box">
                                <div class="image">
                                    <img src="~/StaticFiles/images/resource/event-4.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <!--Countdown Timer-->
                                                <div class="time-counter style-two"><div class="time-countdown clearfix" data-countdown="2017/7/05"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Lower Content-->
                            <div class="lower-content">
                                <div class="posted-date">02 <span>Jan</span></div>
                                <ul class="post-meta">
                                    <li><a href="event-single.html"><span class="icon fa fa-clock-o"></span>8:30 AM - 11:00 Am</a></li>
                                    <li><a href="event-single.html"><span class="icon fa fa-map-marker"></span> Maldevis</a></li>
                                </ul>
                                <h3><a href="event-single.html">big night walk</a></h3>
                                <div class="text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque sit voluptatem accusantium doloremque sit voluptatem accusantium ..</div>
                            </div>
                        </div>
                    </div>

                    <!--Event Style two-->
                    <div class="event-style-two">
                        <div class="inner">
                            <div class="image-box">
                                <div class="image">
                                    <img src="~/StaticFiles/images/resource/event-5.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <!--Countdown Timer-->
                                                <div class="time-counter style-two"><div class="time-countdown clearfix" data-countdown="2017/7/5"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Lower Content-->
                            <div class="lower-content">
                                <div class="posted-date">14 <span>feb</span></div>
                                <ul class="post-meta">
                                    <li><a href="event-single.html"><span class="icon fa fa-clock-o"></span> 8:30 AM - 11:00 Am</a></li>
                                    <li><a href="event-single.html"><span class="icon fa fa-map-marker"></span> Doha town</a></li>
                                </ul>
                                <h3><a href="event-single.html">rice for Children</a></h3>
                                <div class="text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque sit voluptatem accusantium doloremque sit voluptatem accusantium ..</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Styled Pagination -->
                <div class="styled-pagination">
                    <ul class="clearfix">
                        <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <aside class="sidebar default-sidebar">

                    <!-- Search Form -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search...">
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h3>CATEGORIES</h3></div>

                        <ul class="list">
                            <li><a href="#" class="clearfix">Accommodation <span class="count pull-right">(11)</span></a></li>
                            <li class="current"><a href="#" class="clearfix">Children Protection <span class="count pull-right">(12)</span></a></li>
                            <li><a href="#" class="clearfix">Donation Event <span class="count pull-right">(21)</span></a></li>
                            <li><a href="#" class="clearfix">Food Supply <span class="count pull-right">(8)</span></a></li>
                            <li><a href="#" class="clearfix">Health care <span class="count pull-right">(6)</span></a></li>
                        </ul>

                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h3>recent post</h3></div>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Charity Cooking Event For Everyone  ...</a></div>
                            <div class="post-info">Jan 25, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Helping Kids Grow Up Stronger  ...</a></div>
                            <div class="post-info">Feb 15, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Make The Better Life For Children  ...</a></div>
                            <div class="post-info">Feb 28, 2017</div>
                        </article>

                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget urgent-causes">
                        <div class="sidebar-title"><h3>Urgent causes</h3></div>
                        <div class="causes-box" style="background-image:url(StaticFiles/images/resource/causes-widget.jpg);">
                            <div class="inner">
                                <h4>Donate for Education</h4>
                                <div class="text"><span class="theme_color">75 </span>Days Left</div>
                            </div>
                        </div>
                    </div>

                    <!-- News Letter -->
                    <div class="sidebar-widget news-letter">
                        <div class="sidebar-title"><h3>News Letter</h3></div>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email..." required>
                                <button type="submit"><span class="icon flaticon-paper-plane"></span></button>
                            </div>
                        </form>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/StaticFiles/js/jquery.countdown.js"></script>
    <script src="~/StaticFiles/js/jquery-ui.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox.pack.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox-media.js"></script>
}