
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>DONATE NOW</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>DONATE NOW</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<section class="donate-now">
    <div class="auto-container">
        <div class="default-form">
            <form method="post" action="contact.html">
                <div class="row clearfix">

                    <div class="sec-title">
                        <h2>Dontaion Details</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="default-portfolio-item col-lg-8  col-md-8 col-sm-8 col-xs-12 col-xs-6 col-xs-offset-4">
                        <img src="~/StaticFiles/images/IMG-20191019-WA0023.jpg" alt="" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>